<div id="articles-container" class="span12">

  <div id='left-column' class="span3">
    <br><br><br><br><br>
    <form id="new_feed">
      <input type="text" name="name" id="new_feed_name" placeholder="Enter Rss URL">
      <input type="submit" value="New RSS Feed">
    </form>
    <ul id='title-list'>
      {{#each sources}}
        {{#if name}}
          <li style='color:#FCCA03'>
            {{name}} <!-- <a>remove</a> -->
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>

  <div id="right-column" class="span9">
    <br>
    <h2 id='listing'>Listing articles</h2><br>
    <ul class="article_list" class='span9'>
      {{#each articles}}
        {{#if name}}
          <li class='article-li'>
            <div class='span9 hover article' id="article{{id}}" style='margin-left: 0px'>
              <div class='span5 hover' id='article-link'>
                <a id='art' class='article-link hover' data-article-id='{{id}}' href='#articles/{{id}}'><span style='color:#0000CC'>{{source}}:</span> <b>{{name}}</b></a>
              </div>
              <div class='span3' id='one'>{{published_at}}</div>
            </div>

            <div class='content'>

            </div>

          </li>

            </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>

</div>

