<div id="articles-container" class="span12">

  <div id='left-column' class="span3">
    <br><br><br><br><br>
    <form id="new_feed">
      <input type="text" name="name" id="new_feed_name" placeholder="Enter Rss URL">
      <input type="submit" value="New RSS Feed">
    </form>
    <ul id='title-list'>
      {{#each sources}}
        <li style='color:#FCCA03'>
          {{name}}
        </li>
      {{/each}}
    </ul>
  </div>

  <div id="right-column" class="span9">
    <br>
    <h2 id='listing'>Listing articles</h2><br>
    <ul class="article_list" class='span9'>
      {{#each articles}}
        <li class='article-li'>
          <div class='span9 hover article' id="article{{id}}">
            <div class='span6 hover' id='article-link'>
              <a class='article-link' data-article-id='{{id}}' href='#articles/{{id}}' style="hover"><span style='color:#0000CC'>{{source}}:</span> <b>{{name}}</b></a>
            </div>
            <div class='span3' id='one'>{{published_at}}</div>
          </div>

          <div class='content'>

          </div>

        </li>
      {{/each}}
    </ul>
  </div>

</div>

