<p>
  <strong>Name:</strong>
  {{name}}
</p>

<p>
  <strong>Summary:</strong>
  {{summary}}
</p>

<p>
  <strong>Url:</strong>
  {{url}}
</p>

<p>
  <strong>Published at:</strong>
  {{published_at}}
</p>

<p>
  <strong>Guid:</strong>
  {{guid}}
</p>

